<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="base" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\v11.0;Integrated Security=true;Initial Catalog=provaRodrigoMod4;Trusted_Connection=True;" />
  </connectionStrings>
</configuration>